body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #849d8f;
}

body > input[type="radio"] {
    display: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
    width: 1146px;
    padding-left: 27px;
    padding-right: 27px;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    min-height: 73px;
}

.index-header-logo {
    margin-top: 10px;
    margin-right: 24px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 400px;
    display: flex;
    justify-content: space-between;
}

.site-navigation li {
    position: relative;
    margin-top: 23px;
    padding: 7px 14px;
}

.site-navigation > li > a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    
    border-bottom: 1px solid #b0c8bb;
}

.catalog-navigation-list {
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #f8f7f4;
    width: 143px;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;

    display: none;
}

li:hover .catalog-navigation-list {
    display: block;
}

.catalog-navigation-list li {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 3px;
}

.catalog-navigation-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.catalog-navigation-list li:first-child {
    display: block;
    padding-top: 11px;
    border-bottom: 1px solid #d1d0ce;
    margin-right: 8px;
    margin-left: 6px;
    padding-left: 16px;
    padding-bottom: 4px;
}

.catalog-navigation-list li a {
    display: block;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.catalog-navigation-list li a:hover {
    background-color: #fbded8;
}

.user-buttons {
    margin-left: auto;

    display: flex;
    width: 263px;
}

.user-search {
    position: relative;
    margin-right: 10px;
    margin-top: 23px;
}

.button-search {
    display: block;
    position: relative;

    background-color: #a3b8ac;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.button-search::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 17px;
    height: 17px;
    background-image: url(../svg/loupe.svg);
    background-color: inherit;
    background-repeat: no-repeat;
}

.user-search-form {
    position: absolute;
    top: 38px;
    right: 0;
    background-color: #f8f7f4;
    display: none;
    padding: 20px 15px;
    border-radius: 5px;
}

.user-search:hover  .user-search-form {
    display: block;
}

.user-search-form form input {
    box-sizing: border-box;
    width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font: inherit;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
}

.user-login {
    position: relative;
    margin-right: 10px;
    margin-top: 23px;
}

.button-login {
    position: relative;

    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    background-color: #a3b8ac;

    display: block;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 44px;
    padding-right: 16px;
    border-radius: 25px;
}

.button-login::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 20px;
    height: 19px;
    background-image: url(../svg/entrance.svg);
    background-color: inherit;
    background-repeat: no-repeat;
}

.user-login-form {
    position: absolute;
    top: 38px;
    right: 0;
    background-color: #f8f7f4;
    display: none;
    border-radius: 5px;
}

.user-login:hover .user-login-form {
    display: block;
}

.user-login-form form {
    display: flex;
    flex-wrap: wrap;
    width: 241px;
    padding: 20px;
}

.user-login-form form input {
    font: inherit;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 226px;
    flex-grow: 1;
}

.user-login-form form input[type="password"] {
    margin-bottom: 20px;
}

.button-login-submit {
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    background-color: #e9563a;
    border-radius: 50px;
    cursor: pointer;
    width: 102px;
    height: 44px;
    margin-right: 10px;
}

.user-login-links {
    width: 128px;
}

.user-login-links a {
    color: #323232;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid #adacaa;
}

.user-cart {
    margin-top: 27px;
    position: relative;
}

.button-cart {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;

    background-color: #a3b8ac;

    padding-right: 10px;
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 25px;
}

.button-cart::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    width: 21px;
    height: 20px;
    background-image: url(../svg/basket.svg);
    background-repeat: no-repeat;
    background-color: inherit;
}

.working-information {
    text-align: right;
}

.working-information p:first-child {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.working-information p:last-child {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 5px;
}

.main-index-banner {
    margin-top: 350px;
    min-height: 215px;
    position: relative;
}

.banner {
    display: none;
}

.banner p {
    position: absolute;
    left: 239px;
    bottom: 95px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 900;
    width: 670px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.banner-button {
    position: absolute;
    bottom: 0;
    left: 434px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-color: #e9563a;
    border-radius: 50px;
    display: block;
    width: 216px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 41px;
    padding-right: 41px;
    text-align: center;
    margin: 0 auto;

    margin-bottom: 41px;
}

.banner-slide-buttons {
    position: absolute;
    bottom: 37px;
}

.banner-slide-buttons label {
    position: relative;
    top: -8px;
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 50%;
    margin-right: 8px;
}

#button-1:checked ~ .site-wrapper label[for="button-1"],
#button-2:checked ~ .site-wrapper label[for="button-2"],
#button-3:checked ~ .site-wrapper label[for="button-3"] {
    background-color: #ffffff;
}

#button-1:checked ~ .site-wrapper #banner-1,
#button-2:checked ~ .site-wrapper #banner-2,
#button-3:checked ~ .site-wrapper #banner-3 {
    display: block;
}

#button-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/background-index-1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#button-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/background-index-2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#button-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/background-index-3.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.promo {
    display: flex;
    margin-bottom: 40px;
}

.raspberry-promo {
    background-image: url(../img/raspberry-background.png);
    background-repeat: no-repeat;
    width: 560px;
    border-radius: 20px;
    margin-right: 26px;
}

.raspberry-promo h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.raspberry-promo p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-left: 20px;
}

.chocolate-promo {
    background-image: url(../img/chocolate-background.png);
    background-repeat: no-repeat;
    width: 560px;
    border-radius: 20px;
}

.chocolate-promo h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.chocolate-promo p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-left: 20px;
}

.button-promo {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-color: #e9563a;
    border-radius: 50px;
    margin-bottom: 23px;
    margin-right: 20px;
    width: 165px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    vertical-align: middle;
    float: right;
}

.hit-products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.hit-product-item,
.item-hover-content {
    position: relative;
    width: 267px;
    margin-right: 26px;
    margin-bottom: 40px;
    text-align: center;
}

.item-hover-content {
    margin-bottom: 17px;
}

.hit-product-item:last-child {
    margin-right: 0;
}

.item-hover {
    height: 405px;
}

.hit-product-item:hover .item-hover {
    background-color: rgba(97, 97, 96, 0.3); 
}

.item-hover-button {
    display: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    background-color: #e9563a;
    border-radius: 50px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin: 0 auto;
    width: 166px;
    text-align: center;
    vertical-align: middle;
}

.hit-product-item:hover .item-hover-button {
    display: block;
}

.item-price {
    position: absolute;
    top: 200px;
}

.item-price span {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.item-info-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #9db1a5;
}

.company-info {
    background-image: url(../img/waffle-background.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: -56px;
    color: #323232;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 22px;
    padding-right: 15px;
    min-height: 256px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.company-info h2 {
    padding: 0;
    margin: 0;
    min-height: 70px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages-list li {
    position: relative;
    width: 50%;
}

.advantages-list li p {
    margin: 20px 0 0;
    padding-left: 57px;
    padding-right: 10px;
}

.company-info p {
    font-size: 16px;
    line-height: 22px;
}

.advantages-list .first::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url(../svg/ice-cream.svg);
}

.advantages-list .second::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url(../svg/cow.svg);
}

.advantages-list .third::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url(../svg/eco.svg);
}

.advantages-list .fourth::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url(../svg/thermometer.svg);
}

.news-email {
    display: flex;
    margin-bottom: 40px;
}

.news-block {
    background-image: url(../img/news-background.jpg);
    background-repeat: no-repeat;
    width: 560px;
    min-height: 220px;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.news-block p {
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding-left: 20px;
}

.news-block a {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    width: 300px;
    padding-left: 20px;
}

.news-block a h3 {
    display: inline;
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid #323232;
}

.email-mailing {
    background-image: url(../img/mail-background.png);
    background-repeat: no-repeat;
    color: #5a5a5a;
    width: 560px;
}

.email-mailing p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    padding-left: 27px;
    padding-top: 33px;
    padding-right: 38px;
}

.email-mailing form {
    padding-left: 27px;
}

.email-mailing form input {
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    width: 352px;
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 11px;
    margin-right: 11px;
}

.button-mailing-submit {
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    background-color: #e9563a;
    border-radius: 50px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.map-feedback {
    background-image: url(../img/map-background.jpg);
    background-repeat: no-repeat;
    display: flex;
    height: 430px;
}

.feedback-block {
    background-color: #fffffe;
    width: 252px;
    height: 305px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: 27px;
    padding-left: 25px;
    border-radius: 15px;
}

.feedback-block p {
    margin: 0;
}

.feedback-block p:nth-child(1) {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    padding-top: 30px;
}

.feedback-block p:nth-child(2) {
    padding-top: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.feedback-block p:nth-child(3) {
    padding-top: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.feedback-block p:nth-child(4) {
    padding-top: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.feedback-block p:nth-child(5) {
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    margin-bottom: 30px;
}

.feedback-button {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background-color: #e9563a;
    border-radius: 50px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.main-footer .container {
    margin-top: 36px;
    display: flex;
    align-content: center;
    padding-bottom: 30px;
}

.footer-soial-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 210px ;
}

.footer-soial-list li {
    margin-right: 11px;
}

.footer-soial-list li:last-child {
    margin-right: 0;
}

.footer-links {
    width: 358px;
    height: 55px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links-left {
    width: 150px;
    margin-right: auto;
    padding-left: 23px;
}

.footer-links-left a:first-child {
    position: relative;
}

.footer-links-left a:first-child::before {
    content: "";
    width: 15px;
    height: 13px;
    position: absolute;
    background-image: url(../svg/heart.svg);
    top: 2px;
    left: -20px;
}

.footer-links-right {
    width: 170px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid #9db1a5;
}

.footer-links a:first-child {
    font-weight: 700;
}

.footer-developer .footer-developer-link {
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.footer-developer-logo {
    margin-bottom: -10px;
}

.developer-link-span {
    border-bottom: 1px solid #9db1a5;
}

.user-cart-block {
    position: absolute;
    top: 38px;
    right: 0;
    width: 540px;
    display: none;
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 5px;
}

.user-cart:hover .user-cart-block {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
}

.cart-item:first-child {
    margin-top: 20px;
}

.cart-item:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cacac7;
}

.cart-item-name {
    width: 220px;
    font-size: 13px;
    line-height: 16px;
    margin-right: 30px;
}

.cart-item-info {
    font-size: 13px;
    line-height: 16px;
    margin-right: 29px;
}

.cart-item-info span {
    color: #999999;
}

.cart-item-price {
    width: 50px;
    font-size: 13px;
    line-height: 16px;
}

.cart-button-cross {
    align-self: center;
    margin-right: 14px;
    margin-left: 18px;
    border: none;
    background-color: transparent;
    width: 13px;
    height: 13px;
    position: relative;
    cursor: pointer;
}

.cart-button-cross::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    background-image: url(../svg/cross-small.svg);
    cursor: pointer;
}

.cart-item-img {
    position: relative;
    margin-right: 14px;
    align-self: center;
}

.cart-price-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 11px;
}

.button-cart-order {
    width: 170px;
    padding-top: 9px;
    padding-bottom: 9px;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 20px;

    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    background-color: #e9563a;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
}

.user-cart-catalog .button-cart::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    width: 21px;
    height: 20px;
    background-image: url(../svg/basket-red.svg);
    background-repeat: no-repeat;
    background-color: inherit;
}

.top-main {
    display: flex;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: auto;
    align-self: flex-end;
}

.breadcrumbs li a {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px solid #aebeb5;
}

.breadcrumbs-current {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 1px;
}

.raquo {
    margin-left: 4px;
    margin-right: 8px;
}

.top-main .working-information p:last-child {
    margin-bottom: 0;
}

.top-main .working-information {
    align-self: flex-end;
}

.catalog-page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
}

.filter {
    margin-bottom: 40px;
}

.filter form {
    display: block;
}

.filters-top {
    display: flex;
}

.filter form fieldset {
    border: none 0;
}

.filter-background {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 25px;
    padding: 7px 12px;
}

.sorting-filter {
    background-color: transparent;
    color: #ffffff;
    border: 0;
    -webkit-appearance: none;
    padding-right: 25px;
}

.sorting-filter option {
    color: #000000;
}

.select {
    display: inline-block;
    position: relative;
}

.select svg {
    position: absolute;
    top: 15px;
    right: 20px;
}

.price {
    width: 220px;
}

.price-control {
    position: relative;
}

.price-control::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 2px;
    background-color: #ffffff;
    top: 9px;
    left: 77px;
}

.price-control input{
    background: 0 0;
    border: 0;
    color: #ffffff;
    width: 30px;
}

.min-price {
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
}

.max-price {
    width: 30px;
    margin-right: 3px;
}

.range-controls {
    position: relative;
    padding: 10px 14px;
}

.range-controls .scale {
    height: 2px;

    background-color: rgba(255, 255, 255, .3);
}

.range-controls .bar {
    width: 60%;
    height: 2px;
    margin-left: 20px;

    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: 0px;

    width: 4px;
    height: 4px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;

}

.range-toggle-min {
    left: 20px;
}

.range-toggle-max {
    left: 60%;
}

.fat-level {
    width: 391px;
}

.fat-level input {
    display: none;
}

.fat-level label {
    position: relative;
    padding-left: 33px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}

.fat-level label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../svg/radio-off.svg);
    background-repeat: no-repeat;
}

.fat-level input:checked + label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../svg/radio-on.svg);
    background-repeat: no-repeat;
}

.filters-bottom {
    display: flex;
}

.filters-bottom .fillers input[type="checkbox"] {
    display: none;
}

.filters-bottom .fillers label {
    position: relative;
    padding-left: 33px;
    padding-right: 15px;
    cursor: pointer;
}

.filters-bottom .fillers label::before {
    content: "";
    position: absolute;
    left: 2px;
    width: 27px;
    height: 24px;
    background-color: transparent;
    background-image: url(../svg/checkbox-off.svg);
    background-repeat: no-repeat;
}

.fillers input:checked + label::before {
    content: "";
    position: absolute;
    left: 2px;
    width: 27px;
    height: 24px;
    background-color: transparent;
    background-image: url(../svg/checkbox-on.svg);
    background-repeat: no-repeat;
}

.filter-button {
    border: none;
    background-color: transparent;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 25px;
    height: 34px;
    width: 140px;
    border: 2px solid #ffffff;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    align-self: center;
}

.catalog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding:0;
    list-style: none;
}

.ice-cream-list{
    margin-bottom: 12px;
}

.catalog-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.ice-cream-card{
    position: relative;
    width: 267px;
    min-height: 324px;
    margin-bottom: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.ice-cream-img{
    width: 267px;
    height: 267px;
    margin-bottom: 14px;
    border-radius: 50%;
    z-index: 9;
}

.ice-cream-list .ice-cream-img{
    margin-bottom: 12px;
}

.item-price{
    position: absolute;
    margin: 0;
    bottom: 66px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
    z-index: 9;
}

.value{
    margin: 0;
    padding-right: 35px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.value::after{
    content: url(../svg/ruble.svg);
    position: absolute;
    top: 4px;
    right: 60px;
    width: 31px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.weight{
    margin-left: -12px;
    font-size: 30px;
    line-height: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.description{
    margin: 0;
    min-height: 45px;
    padding-left: 6px;
    padding-right: 7px;
    text-align: center;
    z-index: 9;
}

.description a {
    text-decoration: none;
}

.fast-view{
    position: absolute;
    bottom: -55px;
    left: 30px;
    display: none;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.ice-cream-card::after{
    position: absolute;
    content: '';
    left: -13px;
    top: -8px;
    width: 293px;
    height: 405px;
    border-radius: 5px;
}

.best-offers::before{
    content: "";
    position: absolute;
    top: 0px;
    z-index: 15;
    width: 60px;
    height: 60px;
    background-image: url("../img/hit.svg");
    background-position: 0 0;
}

.ice-cream-card:hover > .fast-view,
.ice-cream-card:focus > .fast-view{
    display: block;
    z-index: 10;
}

.ice-cream-card:hover::after,
.ice-cream-card:focus::after{
    background-color: rgba(248, 247, 244, 0.2);
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 7;
}

.ice-cream-card:hover,
.ice-cream-card:focus{
    z-index: 10;
}

.description a{
    color: #ffffff;
    border-bottom: 1px solid #adbdb4;
}

.dscription a:hover,
.description a:focus,
.description a:active{
    color: #ffbc9e;
    border-bottom-color: #ffbc9e;
}

.fast-view {
    position: absolute;
    bottom: -55px;
    left: 30px;
    display: none;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #e9563a;
}

.ice-cream-card::after{
    position: absolute;
    content: '';
    left: -13px;
    top: -8px;
    width: 293px;
    height: 405px;
    border-radius: 5px;
}


.ice-cream-card:hover > .fast-view,
.ice-cream-card:focus > .fast-view{
    display: block;
    z-index: 10;
}

.ice-cream-card:hover::after,
.ice-cream-card:focus::after{
    background-color: rgba(248, 247, 244, 0.2);
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 7;
}

.ice-cream-card:hover,
.ice-cream-card:focus{
    z-index: 10;
}

.pagination {
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #a9bbb1;
}

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.pagination-list li {
    margin-right: 5px;
}

.pagination-list li a {
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.pagination-list li a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.pagination-list .pagination-item-current > a {
    color: #323232;
    background-color: #ffffff;
    border-radius: 50%;
}

.page-prev svg {
    transform: rotate(180deg);
}