footer.footer
  .footer__socials.socials 
    ul.socials__list 
      li.socials__item 
        a.socials__link.socials__link-tw(href="#") 
      li.socials__item 
        a.socials__link.socials__link-inst(href="#") 
      li.socials__item 
        a.socials__link.socials__link-fb(href="#")
      li.socials__item 
        a.socials__link.socials__link-vk(href="#")
  .footer__links 
    .footer__links-left
      a.footer__links-link.footer__links-link--heart(href="") Для поставщиков
      a.footer__links-link(href="") О производстве
    .footer__links-right
      a.footer__links-link(href="") Наши документы
      a.footer__links-link(href="") Экологические стандарты
  .footer__copyright
    img.footer__copyright-img(src="@img/logo-htmlacademy-small.svg", alt="#", width="110")
    p.footer__copyright-text Сделано в <span><a href="#">HTML Academy</a></span> (C) 2017