header.header 
  nav.header__navigation.navigation
    a.navigation__logo(href="index.html") 
      img(src="@img/header-logo.svg", alt="Gllacy Shop", width="155", height="65")
    ul.navigation__site 
      li.navigation__site-item
        a(href="catalog.html")#catalog-link.navigation__site-link.navigation__site-link--catalog Каталог
        .navigation__catalog-container
          ul.navigation__catalog
            li.navigation__catalog-item 
              a.navigation__catalog-link(href="#") Новинки
            li.navigation__catalog-item 
              a.navigation__catalog-link(href="#") Сливочное
            li.navigation__catalog-item 
              a.navigation__catalog-link(href="#") Щербеты
            li.navigation__catalog-item 
              a.navigation__catalog-link(href="#") Фруктовый лед
            li.navigation__catalog-item 
              a.navigation__catalog-link(href="#") Мелорин
      li.navigation__site-item 
        a(href="").navigation__site-link Доставка и оплата
      li.navigation__site-item  
        a(href="").navigation__site-link О компании
    ul.navigation__user 
      li.navigation__user-item.navigation__user-item--search
        a.navigation__user-link--search(href="#")
          span.visually-hidden Поиск
        .navigation__search-container  
          .navigation__search
            form(action="#", method="get")
              .navigation__search-item 
                label.visually-hidden(for="search") 
                input#search(type="text", name="search", placeholder="Что ищем?") 
      li.navigation__user-item.navigation__user-item--login
        a(href="") Вход
        .navigation__login-container
          .navigation__login 
            form(action="#", method="get")
              .navigation__login-item 
                label.visually-hidden(for="email") E-Mail 
                input#email(type="email", name="email", placeholder="Электронная почта") 
              .navigation__login-item 
                label.visually-hidden(for="password") Пароль
                input#password(type="password", name="password", placeholder="Пароль") 
              .navigation__login-item 
                button.navigation__login-btn.btn(type="submit") Войти
                .navigation__login-links 
                  a(href="#") Забыли пароль?
                  a(href="#") Новая регистрация
      li.navigation__user-item.navigation__user-item--cart
        a(href="") Пусто
  .header__info 
    p.header__small С 10 до 20, ежедневно
    a(href="tel:88124502525").header__big 8 812 450-25-25
    