.advantages {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  background: url(../img/wafer-bg.png);
  margin-top: 5px;
}

.advantages__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: 540px;

  padding-left: 60px;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.advantages__item::after {
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  top: -13px;
  left: 0;
}

.advantages__item:nth-child(1)::after {
  background: url(../img/icons/icons.svg#icecream-icon) no-repeat;
}

.advantages__item:nth-child(2)::after {
  background: url(../img/icons/icons.svg#cow-icon) no-repeat;
}

.advantages__item:nth-child(3)::after {
  background: url(../img/icons/icons.svg#leaf-icon) no-repeat;
}

.advantages__item:nth-child(4)::after {
  background: url(../img/icons/icons.svg#thermometer) no-repeat;
}