.carousel {
  margin-top: 270px;
  position: relative;
  margin-bottom: 40px;
}

.carousel__title {
  font-size: 60px;
  line-height: 61px;
  font-weight: 700;

  color: #ffffff;
  text-align: center;
}

.carousel__btn {
  @include btn(280px, 6px, 6px, 24px, 32px, 44px, 700);
  margin: 0 auto;
}

.carousel__item {
  display: none;
}

.carousel__item--active {
  display: block;
}

.carousel__controls {
  display: flex;

  position: absolute;
  bottom: 20px;
}

.carousel__btn-switch {
  display: block;
  width: 21px;
  height: 21px;
  background: transparent;

  border: 1px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;

  margin-right: 8px;
}

.carousel__btn--active {
  background: #ffffff;
}

.carousel__btn-switch:last-child {
  margin-right: 0;
}