.email {
  background: url(../img/mail-bg.png);
  padding: 25px;
}

.email__text {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  margin-top: 5px;
}

.email__form {
  display: flex;
  input {
    display: block;
    width: 368px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid #d3d3d2;
    border-radius: 4px;

    margin-right: auto;
  }
}

.email__submit {
  @include btn(130px, 10px, 10px, 24px)
}