.header {
  padding-top: 10px;
}

.header__navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__info {
  text-align: right;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.header__small {
  margin-top: 3px;
  margin-bottom: 8px;
  font-weight: 700;
}

.header__big {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}