.map {
  margin-top: 40px;
  position: relative;
}

.map__info {
  width: 300px;

  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #fffefd;
  border-radius: 12px;

  position: absolute;
  top: 40px;
  right: 30px;
}

.map__info-top {

  .map__info-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  .map__info-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 20px;

    display: block;
  }
}

.map__info-bottom {

  .map__info-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  .map__info-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 0;

    display: block;
  }

  .map__info-subtext {
    margin-top: 8px;
    margin-bottom: 0;
  }

  margin-bottom: 20px;
}

.map__feedback {
  @include btn(250px, 10px, 10px, 24px)
}