.navigation {
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
  }
}

.navigation__logo {
  flex-basis: 155px;
  margin-right: 24px;
}

.navigation__site,
.navigation__user {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.navigation__site {
  margin-right: auto;
  position: relative;
}

.navigation__site-item {
  margin-right: 7px;
  position: relative;
}

.navigation__site-link {
  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 14px;
  margin-right: 14px;
}

.navigation__site-item:hover {
  .navigation__site-link {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #ffffff;
    border-radius: 24px;
    color: #000000;
  }
}

.navigation__site-link--catalog-active {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #ffffff;
  border-radius: 24px;
  color: #000000 !important;
}

.navigation__site-item:last-child {
  margin-right: 0;
}

.navigation__user-item {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  margin-right: 10px;
  position: relative;
}

.navigation__user-item:hover {
  background-color: #ffffff;
  a {
    color: #000000;
  }

  >a::after {
    background-color: #000000;
  }
}

.navigation__user-item:last-child {
  margin-right: 0;
}

.navigation__user-item--search {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__user-link--search {
  width: 17px;
  height: 17px;
  display: block;
  mask-image: url(../img/icons/icons.svg#magnifier);
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #ffffff;
}

.navigation__user-item--search:hover > .navigation__user-link--search {
  background-color: #000000;
}

.navigation__user-link--search-active {
  background-color: #000000;
}

.navigation__user-item--login,
.navigation__user-item--cart {
  border-radius: 24px;
  >a {
    display: block;
    height: 32px;
    text-align: center;
    padding-top: 8px;
    padding-left: 30px;
  }
  >a::after {
    content: "";
    display: block;
    position: absolute;
    height: 19px;
    width: 20px;
    top: 6px;
    left: 15px;
  }
}

.navigation__user-item--login {
  >a {
    width: 92px;
  }

  >a::after {
    mask-image: url(../img/icons/icons.svg#login);
    background-color: #ffffff;
  }
}

.navigation__user-item--cart {
  >a {
    width: 117px;
  }

  >a::after {
    mask-image: url(../img/icons/icons.svg#cart);
    background-color: #ffffff;
  }
}

.navigation__catalog-container {
  display: none;
  position: absolute;
  top: 15px;
  padding-top: 15px;
}

.navigation__catalog {
  width: 143px;
  display: block;

  background-color: #ffffff;

  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  .navigation__catalog-link {
    color: #323232;
    display: inline-block;
    width: 100%;

    padding-left: 21px;
    padding-top: 8px;
    padding-bottom: 8px;

    position: relative;
  }

  .navigation__catalog-link:hover {
    background-color: #fbded8;
  }
}

.navigation__site-item:first-child:hover > .navigation__catalog-container {
  display: block;
}

.navigation__catalog-item {
  margin-bottom: 4px;
}

.navigation__catalog-item:last-child {
  margin-bottom: 0;
}

.navigation__catalog-item:first-child {
  .navigation__catalog-link::after {
    content: "";
    display: block;
    width: 128px;
    height: 1px;
    position: absolute;
    background-color: #d1d0ce;

    left: 6px;
    bottom: -3px;
  }
}

.navigation__search-container {
  position: absolute;
  top: 25px;
  right: 0;
  display: none;
  padding-top: 15px;
}

.navigation__search { 
  width: 340px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #f8f7f4;
  border-radius: 5px;

  input {
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
  }
}

.navigation__user-item--search:hover > .navigation__search-container {
  display: block;
}

.navigation__login-container {
  display: none;
  position: absolute;
  right: -15px;
  top: 25px;
  padding: 15px;
}

.navigation__login {  
  width: 280px;
  padding: 20px;
  background-color: #f8f7f4;
  display: block;

  border-radius: 4px;

  a {
    color: #323232;
  }
}

.navigation__user-item--login:hover > .navigation__login-container {
  display: block;
}

.navigation__login-item {
  margin-bottom: 20px;
  input {
    width: 100%;

    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid #d3d3d2;
    border-radius: 4px;
  }
}

.navigation__login-item:last-child {
  margin-bottom: 0;

  display: flex;
  align-items: center;
}

.navigation__login-btn {
  @include btn(100px, 13px);
}

.navigation__login-links {
  font-size: 13px;
  font-weight: 400;
  width: 125px;
  margin-left: auto;

  a {
    display: inline-block;
    border-bottom: 1px solid #000;
  }
}