.promo {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.promo__item {
  width: 560px;

  color: #ffffff;

  padding: 20px;
}

.promo__item:nth-child(1) {
  background: url(../img/raspberry-bg.png) no-repeat;
}

.promo__item:nth-child(2) {
  background: url(../img/chocolate-bg.png) no-repeat;
  .promo__btn {
    width: 190px;
  }
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 20px;
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 40px;
}

.promo__btn {
  @include btn(165px, 8px, 8px, 17px, 18px, 24px, 700);
  margin-left: auto;
}