.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  width: 186px;
  justify-content: space-between;
  box-sizing: content-box;
}

.socials__link {
  display: flex;
  box-sizing: content-box;
  width: 31px;
  height: 31px;
  position: relative;
  border: 3px solid rgba($color: #ffffff, $alpha: 0.3);
  border-radius: 50%;
  background-repeat: no-repeat;
  font-size: 0;
}

.socials__link-tw {
  background-image: url(../img//tw.svg);
}

.socials__link-inst {
  background-image: url(../img/inst.svg);
}

.socials__link-fb {
  background-image: url(../img/fb.svg);
}

.socials__link-vk {
  background-image: url(../img/vk.svg);
}