.sort {
  margin-bottom: 40px;
}

.sort__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
}

.sort__top,
.sort__bottom {
  display: flex;
}

.sort__item {
  margin-right: 15px;
}

.sort__item:last-child {
  margin-right: 0;
}

.sort__subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 8px;
}

.sort__container {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4.6px;
  padding-bottom: 4.6px;

  label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
  }

  input {
    display: none;
  }
}

.sort__item-sorting {
  .sort__container {
    width: 193px;
  }

  select {
    background-color: transparent;
    border: none;
    width: 100%;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
  }
  option {
    color: #000000;
  }
}

.sort__item-cost {
  .sort__container {
    width: 220px; 
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .sort__scale {
    text-align: center;
    align-self: center;
    width: 176px;
    height: 4px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }

  .sort__bar {
    width: 102px;
    height: 4px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    position: relative;
    left: 21px;
  }

  .sort__range-toggle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    cursor: pointer;
    z-index: 2;
  }

  .sort__range-toggle:last-child {
    left: 135px;
  }
}

.sort__item-fat {
  .sort__container {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .sort__input {
    margin-right: 15px;
  }

  .sort__input:last-child {
    margin-right: 0;
  }

  label {
    padding-left: 32px;
    position: relative;
    cursor: pointer;
  }

  label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer;
  }

  input:checked ~ label::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    transform: translate(5.2px, 4.4px);
  }
}

.sort__item-filler {
  .sort__container {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .sort__input {
    margin-right: 15px;
  }

  .sort__input:last-child {
    margin-right: 0;
  }

  label {
    padding-left: 32px;
    position: relative;
    cursor: pointer;
  }

  label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer;
  }

  input:checked ~ label::before {
    content: "";
    display: block;
    width: 19px;
    height: 8px;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    position: absolute;
    transform: rotate(-45deg);
    left: 4px;
  }
}

.sort__item-btn {
  display: flex;
  .sort__container {
    align-self: flex-end;
    width: 161px;
    height: 30px;
    padding-left: 0;
    padding-right: 0;

    border: 2px solid #ffffff;
  }

  .sort__submit {
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: #ffffff;
  }
}