doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title Glacy // Catalog
	body.theme--1
		.container 
			include html/header
			main
				.breadcrumbs 
					ul.breadcrumbs__list 
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Каталог
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Сливочное
				section.sort
					h1.sort__title Сливочное мороженное
					.sort__block 
						form.sort__form(action="GET") 
							.sort__top 
								.sort__item.sort__item-sorting
									p.sort__subtitle Сортировка:
									.sort__container
										select#sort-by(name="sort-by")
											option(value="popular") по популярности
											option(value="cheap") сначла недорогие
											option(value="costly") сначала дорогие
											option(value="fat") по жирности
								.sort__item.sort__item-cost
									p.sort__subtitle Цена: <span class="sort__from">100 руб.</span> - <span class="sort__to">500 руб.</span>
									.sort__container
										.sort__scale 
											.sort__bar 
										.sort__range-toggle 
										.sort__range-toggle
								.sort__item.sort__item-fat
									p.sort__subtitle Жирность:
									.sort__container
										.sort__input 
											input.sort__radio#0(type="radio", name="fat", value="0")
											label(for="0") 0%
										.sort__input 
											input.sort__radio#10(type="radio", name="fat", value="10")
											label(for="10") до 10%
										.sort__input 
											input.sort__radio#30(type="radio", name="fat", value="30")
											label(for="30") до 30%
										.sort__input 
											input.sort__radio#30-more(type="radio", name="fat", value="30-more")
											label(for="30-more") выше 30%    
							.sort__bottom
								.sort__item.sort__item-filler
									p.sort__subtitle Наполнители:
									.sort__container
										.sort__input 
											input#chocolate(type="checkbox", name="filler" value="chocolate")
											label(for="chocolate") шоколадные
										.sort__input 
											input#shugar(type="checkbox", name="filler" value="shugar")
											label(for="shugar") сахарные присыпки
										.sort__input 
											input#fruit(type="checkbox", name="filler" value="fruit")
											label(for="fruit") фрукты
										.sort__input 
											input#syrup(type="checkbox", name="filler" value="syrup")
											label(for="syrup") сиропы
										.sort__input 
											input#jam(type="checkbox", name="filler" value="jam")
											label(for="jam") джемы     
								.sort__item.sort__item-btn
									.sort__container
										button.sort__submit(type="submit") Применить           
				section.products
					ul.products__list
						li.products__item
							img.products__img(src="@img/icecream-item-1.png", alt="Мороженное")
							p.products__price 310<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное с апельсиновым джемом и цитрусовой стружкой
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-2.png", alt="Мороженное")
							p.products__price 380<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-кофейное с кусочками шоколада
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-3.png", alt="Мороженное")
							p.products__price 355<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-клубничное с присыпкой из белого шоколада
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-4.png", alt="Мороженное")
							p.products__price 415<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное крем-брюле с карамельной подливкой
							a.products__link(href="#") Быстрый просмотр     
						li.products__item
							img.products__img(src="@img/icecream-item-5.png", alt="Мороженное")
							p.products__price 325<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное с брусничным джемом 
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-6.png", alt="Мороженное")
							p.products__price 410<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-черничное с цельными ягодами черники 
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-7.png", alt="Мороженное")
							p.products__price 375<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-лимонное с карамельной присыпкой
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-8.png", alt="Мороженное")
							p.products__price 320<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное с шоколадной стружкой
							a.products__link(href="#") Быстрый просмотр 
						li.products__item
							img.products__img(src="@img/icecream-item-9.png", alt="Мороженное")
							p.products__price 440<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-ванильное с кусочками шоколада 
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-10.png", alt="Мороженное")
							p.products__price 435<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочноe с ментоловым сиропом
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-11.png", alt="Мороженное")
							p.products__price 420<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное с мятным сиропом
							a.products__link(href="#") Быстрый просмотр
						li.products__item 
							img.products__img(src="@img/icecream-item-12.png", alt="Мороженное")
							p.products__price 355<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное с кусочками черного шоколада
							a.products__link(href="#") Быстрый просмотр 
				section.paginator
					ul.paginator__list 
						li.paginator__item
							a.paginatior__link.paginator__link--disabled(href="#") 
							p.visually-hidden Назад
						li.paginator__item
							a.paginatior__link.paginator__link--active(href="#") 1 
						li.paginator__item
							a.paginatior__link(href="#") 2
						li.paginator__item
							a.paginatior__link(href="#") 3
						li.paginator__item
							a.paginatior__link(href="#") 4
						li.paginator__item
							a.paginatior__link(href="#") 5
						li.paginator__item
							a.paginatior__link(href="#") 	
							p.visually-hidden Вперед		         
			include html/footer