doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title Glacy
	body.theme--1
		.container
			include html/header
			main.main
				section.carousel
					.carousel__item.carousel__item--active
						h1.carousel__title Крем-брюле и пломбир <br> с малиновым джемом
						a.carousel__btn.btn(href="#") Давайте оба!
					.carousel__item
						h1.carousel__title Шоколадный пломбир <br> и лимонный сорбет
						a.carousel__btn.btn(href="#") Давайте оба!
					.carousel__item
						h1.carousel__title Пломбир с помадкой <br> и клубничный щербет
						a.carousel__btn.btn(href="#") Давайте оба!
					.carousel__controls 
						button.carousel__btn-switch.carousel__btn--active
							span.visually-hidden Первый баннер 
						button.carousel__btn-switch
							span.visually-hidden Второй баннер 
						button.carousel__btn-switch
							span.visually-hidden Третий баннер 
				section.promo
					.promo__item 
						h3.promo__title Малинка даром!
						p.promo__text При покупке 2 кг любого фруктового мороженого, добавим в ваш заказ банку малинового варенья бесплатно.
						a.promo__btn(href="#") Хочу варенье!
					.promo__item 
						h3.promo__title Шоколадки даром!
						p.promo__text При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
						a.promo__btn(href="#") Хочу шоколадки!
				section.products
					ul.products__list
						li.products__item.products__item--hot
							img.products__img(src="@img/icecream-item-1.png", alt="Мороженное")
							p.products__price 310<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное с апельсиновым джемом и цитрусовой стружкой
							a.products__link(href="#") Быстрый просмотр
						li.products__item.products__item--hot 
							img.products__img(src="@img/icecream-item-2.png", alt="Мороженное")
							p.products__price 380<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-кофейное с кусочками шоколада
							a.products__link(href="#") Быстрый просмотр
						li.products__item.products__item--hot 
							img.products__img(src="@img/icecream-item-3.png", alt="Мороженное")
							p.products__price 355<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочно-клубничное с присыпкой из белого шоколада
							a.products__link(href="#") Быстрый просмотр
						li.products__item.products__item--hot 
							img.products__img(src="@img/icecream-item-4.png", alt="Мороженное")
							p.products__price 415<span class="products__rouble"><img src="@img/rouble.svg"></span><span class="products__kg">/кг</span>
							p.products__title Сливочное крем-брюле с карамельной подливкой
							a.products__link(href="#") Быстрый просмотр
				section.advantages
					h2.advantages__title Магазин Глэйси — это онлайн- и офлайн-магазин по продаже мороженого собственного производства на развес 
					ul.advantages__list
						li.advantages__item Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
						li.advantages__item Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
						li.advantages__item Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья. 
						li.advantages__item Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.
				section.additional
					h2.visually-hidden Новости и почта
					.additional__news.news
						p.news__pretitle Новое в нашем блоге
						a.news__link(href="#") 
							h3.news__title 10 способов сервировки <br>фруктовых щербетов к <br>столу
					.additional__email.email 	
						p.email__text Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =)
						form.email__form(action="#" method="post")
							label.visually-hidden(for="sub-email") Электронная почта
							input#sub-email(type="email", name="sub-email" placeholder="Электронная почта")
							button.email__submit(type="submit") Отправить 
				section.map
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533216!2d30.320858716014556!3d59.93871648187625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1641991068033!5m2!1sru!2sru" width="1146" height="430" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					.map__info 
						.map__info-top 
							p.map__info-title Адрес главного офиса <br>и офлайн-магазина:
							strong.map__info-text ул. Большая Конюшенная <br>19/8, Санкт-Петербург
						.map__info-bottom
							p.map__info-title Для заказов по телефону:
							strong.map__info-text 8 812 450-25-25
							p.map__info-subtext (с 10 до 20 ежедневно)
						a.map__feedback(href="#") Форма обратной связи 
			include html/footer
		script(src="js/app.min.js") 