*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;

  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}