@mixin btn($width: 150px, $padding-top: 10px, $padding-bottom: 10px, $border-radius: 24px, $font-size: 18px, $line-height: 24px, $font-weight: 700) {
  display: block;

  border: none;
  box-shadow: none;

  text-align: center;

  width: $width;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  border-radius: $border-radius;

  background: rgb(242,104,67);
  background: linear-gradient(180deg, rgba(242,104,67,1) 0%, rgba(231,75,54,1) 100%);

  color: #ffffff;
  text-decoration: none;

  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;

  cursor: pointer;
}